{% extends 'base.html.twig' %}

{% block title %}Connection
{% endblock %}

{% block body %}
    <div class="login">
        <div class="login-triangle"></div>
        <h2 class="login-header">Connection</h2>
        <form method="post" class="login-container">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Vous êtes déjà connecter
                    {{ app.user.username }},
                    <a href="{{ path('app_logout') }}">Déconnection</a>
                </div>
            {% endif %}

            <p>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control input-message" autocomplete="email" placeholder="email" required autofocus>
            </p>
            <p>
                <input type="password" name="password" id="inputPassword" class="form-control input-message" autocomplete="current-password" placeholder="Mot de passe" required>
            </p>
            <p class="loginButton">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <button class="button" type="submit">
                Se connecter
            </button></p>
        </form>
    </div>


{% endblock %}
